<!DOCTYPE html>
<html class="no-js" lang="zxx">



<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="meta description">

    <title>Meethi</title>

    <!--=== Favicon ===-->
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon"/>

    <!--== Google Fonts ==-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">


    <!--=== Revolution Slider CSS ===-->
    <link href="assets/css/revslider/settings.css" rel="stylesheet">

    <!--=== Bootstrap CSS ===-->
    <link href="assets/css/vendor/bootstrap.min.css" rel="stylesheet">
    <!--=== Font-Awesome CSS ===-->
    <link href="assets/css/vendor/font-awesome.css" rel="stylesheet">
    <!--=== Dl Icon CSS ===-->
    <link href="assets/css/vendor/dl-icon.css" rel="stylesheet">
    <!--=== Plugins CSS ===-->
    <link href="assets/css/plugins.css" rel="stylesheet">
    <!--=== Helper CSS ===-->
    <link href="assets/css/helper.min.css" rel="stylesheet">
    <!--=== Main Style CSS ===-->
    <link href="assets/css/style.min.css" rel="stylesheet">
    <link href="assets/css/custom.css" rel="stylesheet">

    <!-- Modernizer JS -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>

    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="preloader-active">


<!-- Start Header Sale Discount Bar -->
<div class="header-discount-bar alert fade show">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="discount-bar-content">
                    <p>Huge Sale Discount Weekend Up 70% ! <a href="javascript:void(0)">Shop Now</a></p>
                </div>

                <div class="close-button-wrap">
                    <button type="button" class="close" data-dismiss="alert"> &times;</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Header Sale Discount Bar -->

<!--== Start Header Area Two ===-->
<header id="header-area" class="header-two">
    
    <!-- Header Bottom Area Start -->
    <div class="header-bottom-area sticky-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-content-wrapper d-flex align-items-center">
                        <div class="header-left-area d-flex align-items-center">
                            <!-- Start Logo Area -->
                            <div class="logo-area">
                                <a href="javascript:void(0)"><img src="assets/img/meethi-logo.png" alt="Logo"/></a>
                            </div>
                            <!-- End Logo Area -->
                        </div>

                        <div class="header-mainmenu-area d-none d-lg-block">
                            <!-- Start Main Menu -->
                            <nav id="mainmenu-wrap">
                                <ul class="nav mainmenu justify-content-center">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="javascript:void(0)">About Us</a></li>
                                    <li><a href="products.html">Our Mithai</a></li> 
                                    <li><a href="boxes.html">Boxes</a></li>
                                    <li><a href="hampers.html">Hampers</a></li>                                   
                                    <li><a href="javascript:void(0)">Contact</a></li>
                                </ul>
                            </nav>
                            <!-- End Main Menu -->
                        </div>

                        <div class="header-right-area d-flex justify-content-end align-items-center">
                            <button class="search-icon animate-modal-popup" data-mfp-src="#search-box-popup"><i
                                    class="dl-icon-search1"></i></button>
                            <ul class="user-area">
                                <li class="dropdown-show">
                                    <button><i class="fa fa-user"></i></button>
                                    <ul class="dropdown-nav">
                                        <li><a href="javascript:void(0)">My Account</a></li>
                                        <li><a href="mycart.html">My Cart</a></li>  
                                        <li><a href="purchase-history.html">Order History</a></li>                                       
                                        <li><a href="forgot-password.html">Edit Password</a></li>
                                        <li><a href="login.html">Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <button class="mini-cart-icon modalActive" data-mfp-src="#miniCart-popup">
                                <i class="dl-icon-cart1"></i>
                                <span class="cart-count">2</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Bottom Area End -->
</header>
<!--== End Header Area Two ===-->

<!--== Start Slider Area ==-->
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="2500">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="assets/img/banner/banner1.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/img/banner/banner2.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/img/banner/banner3.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/img/banner/banner4.jpg" alt="First slide">
    </div>
    <!-- <div class="carousel-item">
      <img class="d-block w-100" src="img/brand-cygnett-resort2.jpg" alt="Second slide">
    </div> -->
    
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

    

</div>
<!--== End Slider Area ==-->





<!-- Start Must Have Products Area -->
<section id="mustHave-products-area">
    <div class="container-fluid">
        <div class="row">
            <!-- Start Section title -->
            <div class="col-lg-8 m-auto text-center">
                <div class="section-title-wrap style-three">
                    <h2>Our Mithai</h2>
                </div>
            </div>
            <!-- End Section title -->
        </div>

        <div class="row"> 
                        
                        <!-- Start Single Product -->
                        <div class="col-md-3">                        
                        <div class="single-product-wrap single-special-banner">                            
                            <!-- Product Thumbnail -->
                            <figure class="product-thumbnail banner-thumbnail">
                                <a href="product-details.html" class="d-block">
                                    <img class="banner-thumb" src="assets/img/products/product-8.jpg" alt="Product"/>
                                </a>
                                <figcaption class="product-hvr-content">
                                    <!-- <a href="javascript:void(0)" class="btn btn-black btn-addToCart">Add To Cart</a> -->
                                    <div class="prod-btn-group">
                                        <span data-toggle="tooltip" data-placement="top" title="Quick Shop"><button
                                                data-toggle="modal" data-target="#quickViewModal"><i
                                                class="dl-icon-view"></i></button></span>                                        
                                    </div>
                                    
                                </figcaption>
                            </figure>

                            <!-- Product Details -->
                            <div class="product-details">
                                <h2 class="product-name"><a href="javascript:void(0)">Honey Dryfruit Ladoo</a></h2>
                                <div class="product-prices">                                    
                                    <span class="price">&#8377; 1900.00</span>
                                </div>
                            </div>
                        </div>                        
                        </div>
                        <!-- End Single Product -->

                        <!-- Start Single Product -->
                        <div class="col-md-3">                        
                        <div class="single-product-wrap single-special-banner">                            
                            <!-- Product Thumbnail -->
                            <figure class="product-thumbnail banner-thumbnail">
                                <a href="product-details.html" class="d-block">
                                    <img class="banner-thumb" src="assets/img/products/product-2.jpg" alt="Product"/>
                                </a>
                                <figcaption class="product-hvr-content">
                                    <!-- <a href="javascript:void(0)" class="btn btn-black btn-addToCart">Add To Cart</a> -->
                                    <div class="prod-btn-group">
                                        <span data-toggle="tooltip" data-placement="top" title="Quick Shop"><button
                                                data-toggle="modal" data-target="#quickViewModal"><i
                                                class="dl-icon-view"></i></button></span>                                        
                                    </div>   
                                                                     
                                </figcaption>
                            </figure>

                            <!-- Product Details -->
                            <div class="product-details">
                                <h2 class="product-name"><a href="javascript:void(0)">Chocolate Nuts</a></h2>
                                <div class="product-prices">                                    
                                    <span class="price">&#8377; 1200.00</span>
                                </div>
                            </div>
                        </div>                        
                        </div>
                        <!-- End Single Product -->

                        <!-- Start Single Product -->
                        <div class="col-md-3">                        
                        <div class="single-product-wrap single-special-banner">                            
                            <!-- Product Thumbnail -->
                            <figure class="product-thumbnail banner-thumbnail">
                                <a href="product-details.html" class="d-block">
                                    <img class="banner-thumb" src="assets/img/products/product-3.jpg" alt="Product"/>
                                </a>
                                <figcaption class="product-hvr-content">
                                    <!-- <a href="javascript:void(0)" class="btn btn-black btn-addToCart">Add To Cart</a> -->
                                    <div class="prod-btn-group">
                                        <span data-toggle="tooltip" data-placement="top" title="Quick Shop"><button
                                                data-toggle="modal" data-target="#quickViewModal"><i
                                                class="dl-icon-view"></i></button></span>                                        
                                    </div>                                    
                                </figcaption>
                            </figure>

                            <!-- Product Details -->
                            <div class="product-details">
                                <h2 class="product-name"><a href="javascript:void(0)">Meethi</a></h2>
                                <div class="product-prices">                                    
                                    <span class="price">&#8377; 1000.00</span>
                                </div>
                            </div>
                        </div>                        
                        </div>
                        <!-- End Single Product -->

                        <!-- Start Single Product -->
                        <div class="col-md-3">                        
                        <div class="single-product-wrap single-special-banner">                            
                            <!-- Product Thumbnail -->
                            <figure class="product-thumbnail banner-thumbnail">
                                <a href="product-details.html" class="d-block">
                                    <img class="banner-thumb" src="assets/img/products/product-4.jpg" alt="Product"/>
                                </a>
                                <figcaption class="product-hvr-content">
                                    <!-- <a href="javascript:void(0)" class="btn btn-black btn-addToCart">Add To Cart</a> -->
                                    <div class="prod-btn-group">
                                        <span data-toggle="tooltip" data-placement="top" title="Quick Shop"><button
                                                data-toggle="modal" data-target="#quickViewModal"><i
                                                class="dl-icon-view"></i></button></span>                                        
                                    </div>                                    
                                </figcaption>
                            </figure>

                            <!-- Product Details -->
                            <div class="product-details">
                                <h2 class="product-name"><a href="javascript:void(0)">Mango Coconut Barfi</a></h2>
                                <div class="product-prices">                                    
                                    <span class="price">&#8377; 1200.00</span>
                                </div>
                            </div>
                        </div>                        
                        </div>
                        <!-- End Single Product -->

                        <!-- Start Single Product -->
                        <div class="col-md-3">                        
                        <div class="single-product-wrap single-special-banner">                            
                            <!-- Product Thumbnail -->
                            <figure class="product-thumbnail banner-thumbnail">
                                <a href="product-details.html" class="d-block">
                                    <img class="banner-thumb" src="assets/img/products/product-5.jpg" alt="Product"/>
                                </a>
                                <figcaption class="product-hvr-content">
                                   <!-- <a href="javascript:void(0)" class="btn btn-black btn-addToCart">Add To Cart</a> -->
                                    <div class="prod-btn-group">
                                        <span data-toggle="tooltip" data-placement="top" title="Quick Shop"><button
                                                data-toggle="modal" data-target="#quickViewModal"><i
                                                class="dl-icon-view"></i></button></span>                                        
                                    </div>                                    
                                </figcaption>
                            </figure>

                            <!-- Product Details -->
                            <div class="product-details">
                                <h2 class="product-name"><a href="javascript:void(0)">Badam Sev Barfi</a></h2>
                                <div class="product-prices">                                    
                                    <span class="price">&#8377; 1100.00</span>
                                </div>
                            </div>
                        </div>                        
                        </div>
                        <!-- End Single Product -->

                        <!-- Start Single Product -->
                        <div class="col-md-3">                        
                        <div class="single-product-wrap single-special-banner">                            
                            <!-- Product Thumbnail -->
                            <figure class="product-thumbnail banner-thumbnail">
                                <a href="product-details.html" class="d-block">
                                    <img class="banner-thumb" src="assets/img/products/product-6.jpg" alt="Product"/>
                                </a>
                                <figcaption class="product-hvr-content">
                                    <!-- <a href="javascript:void(0)" class="btn btn-black btn-addToCart">Add To Cart</a> -->
                                    <div class="prod-btn-group">
                                        <span data-toggle="tooltip" data-placement="top" title="Quick Shop"><button
                                                data-toggle="modal" data-target="#quickViewModal"><i
                                                class="dl-icon-view"></i></button></span>                                        
                                    </div>                                    
                                </figcaption>
                            </figure>

                            <!-- Product Details -->
                            <div class="product-details">
                                <h2 class="product-name"><a href="javascript:void(0)">Kaju Katli</a></h2>
                                <div class="product-prices">                                    
                                    <span class="price">&#8377; 1350.00</span>
                                </div>
                            </div>
                        </div>                        
                        </div>
                        <!-- End Single Product -->

                        <!-- Start Single Product -->
                        <div class="col-md-3">                        
                        <div class="single-product-wrap single-special-banner">                            
                            <!-- Product Thumbnail -->
                            <figure class="product-thumbnail banner-thumbnail">
                                <a href="product-details.html" class="d-block">
                                    <img class="banner-thumb" src="assets/img/products/product-7.jpg" alt="Product"/>
                                </a>
                                <figcaption class="product-hvr-content">
                                    <!-- <a href="javascript:void(0)" class="btn btn-black btn-addToCart">Add To Cart</a> -->
                                    <div class="prod-btn-group">
                                        <span data-toggle="tooltip" data-placement="top" title="Quick Shop"><button
                                                data-toggle="modal" data-target="#quickViewModal"><i
                                                class="dl-icon-view"></i></button></span>                                        
                                    </div>                                    
                                </figcaption>
                            </figure>

                            <!-- Product Details -->
                            <div class="product-details">
                                <h2 class="product-name"><a href="javascript:void(0)">Milk Cake</a></h2>
                                <div class="product-prices">                                    
                                    <span class="price">&#8377; 1100.00</span>
                                </div>
                            </div>
                        </div>                        
                        </div>
                        <!-- End Single Product -->

                        <!-- Start Single Product -->
                        <div class="col-md-3">                        
                        <div class="single-product-wrap single-special-banner">                            
                            <!-- Product Thumbnail -->
                            <figure class="product-thumbnail banner-thumbnail">
                                <a href="product-details.html" class="d-block">
                                    <img class="banner-thumb" src="assets/img/products/product-1.jpg" alt="Product"/>
                                </a>
                                <figcaption class="product-hvr-content">
                                    <!-- <a href="javascript:void(0)" class="btn btn-black btn-addToCart">Add To Cart</a> -->
                                    <div class="prod-btn-group">
                                        <span data-toggle="tooltip" data-placement="top" title="Quick Shop"><button
                                                data-toggle="modal" data-target="#quickViewModal"><i
                                                class="dl-icon-view"></i></button></span>                                        
                                    </div>                                    
                                </figcaption>
                            </figure>

                            <!-- Product Details -->
                            <div class="product-details">
                                <h2 class="product-name"><a href="javascript:void(0)">Meethi</a></h2>
                                <div class="product-prices">                                    
                                    <span class="price">&#8377; 1400.00</span>
                                </div>
                            </div>
                        </div>                        
                        </div>
                        <!-- End Single Product -->

                        <!-- Start Single Product -->
                        <div class="col-md-3">                        
                        <div class="single-product-wrap single-special-banner">                            
                            <!-- Product Thumbnail -->
                            <figure class="product-thumbnail banner-thumbnail">
                                <a href="product-details.html" class="d-block">
                                    <img class="banner-thumb" src="assets/img/products/product-9.jpg" alt="Product"/>
                                </a>
                                <figcaption class="product-hvr-content">
                                    <!-- <a href="javascript:void(0)" class="btn btn-black btn-addToCart">Add To Cart</a> -->
                                    <div class="prod-btn-group">
                                        <span data-toggle="tooltip" data-placement="top" title="Quick Shop"><button
                                                data-toggle="modal" data-target="#quickViewModal"><i
                                                class="dl-icon-view"></i></button></span>                                        
                                    </div>
                                    
                                </figcaption>
                            </figure>

                            <!-- Product Details -->
                            <div class="product-details">
                                <h2 class="product-name"><a href="javascript:void(0)">Ajneer Kalakand</a></h2>
                                <div class="product-prices">                                    
                                    <span class="price">&#8377; 1650.00</span>
                                </div>
                            </div>
                        </div>                        
                        </div>
                        <!-- End Single Product -->

                        <!-- Start Single Product -->
                        <div class="col-md-3">                        
                        <div class="single-product-wrap single-special-banner">                            
                            <!-- Product Thumbnail -->
                            <figure class="product-thumbnail banner-thumbnail">
                                <a href="product-details.html" class="d-block">
                                    <img class="banner-thumb" src="assets/img/products/product-10.jpg" alt="Product"/>
                                </a>
                                <figcaption class="product-hvr-content">
                                    <!-- <a href="javascript:void(0)" class="btn btn-black btn-addToCart">Add To Cart</a> -->
                                    <div class="prod-btn-group">
                                        <span data-toggle="tooltip" data-placement="top" title="Quick Shop"><button
                                                data-toggle="modal" data-target="#quickViewModal"><i
                                                class="dl-icon-view"></i></button></span>                                        
                                    </div>
                                    
                                </figcaption>
                            </figure>

                            <!-- Product Details -->
                            <div class="product-details">
                                <h2 class="product-name"><a href="javascript:void(0)">Kaccha Gola Sandesh</a></h2>
                                <div class="product-prices">                                    
                                    <span class="price">&#8377; 1100.00</span>
                                </div>
                            </div>
                        </div>                        
                        </div>
                        <!-- End Single Product -->

                        <!-- Start Single Product -->
                        <div class="col-md-3">                        
                        <div class="single-product-wrap single-special-banner">                            
                            <!-- Product Thumbnail -->
                            <figure class="product-thumbnail banner-thumbnail">
                                <a href="product-details.html" class="d-block">
                                    <img class="banner-thumb" src="assets/img/products/product-11.jpg" alt="Product"/>
                                </a>
                                <figcaption class="product-hvr-content">
                                    <!-- <a href="javascript:void(0)" class="btn btn-black btn-addToCart">Add To Cart</a> -->
                                    <div class="prod-btn-group">
                                        <span data-toggle="tooltip" data-placement="top" title="Quick Shop"><button
                                                data-toggle="modal" data-target="#quickViewModal"><i
                                                class="dl-icon-view"></i></button></span>                                        
                                    </div>
                                    
                                </figcaption>
                            </figure>

                            <!-- Product Details -->
                            <div class="product-details">
                                <h2 class="product-name"><a href="javascript:void(0)">Khajur Barfu</a></h2>
                                <div class="product-prices">                                    
                                    <span class="price">&#8377; 1800.00</span>
                                </div>
                            </div>
                        </div>                        
                        </div>
                        <!-- End Single Product -->

                        <!-- Start Single Product -->
                        <div class="col-md-3">                        
                        <div class="single-product-wrap single-special-banner">                            
                            <!-- Product Thumbnail -->
                            <figure class="product-thumbnail banner-thumbnail">
                                <a href="product-details.html" class="d-block">
                                    <img class="banner-thumb" src="assets/img/products/product-12.jpg" alt="Product"/>
                                </a>
                                <figcaption class="product-hvr-content">
                                    <!-- <a href="javascript:void(0)" class="btn btn-black btn-addToCart">Add To Cart</a> -->
                                    <div class="prod-btn-group">
                                        <span data-toggle="tooltip" data-placement="top" title="Quick Shop"><button
                                                data-toggle="modal" data-target="#quickViewModal"><i
                                                class="dl-icon-view"></i></button></span>                                        
                                    </div>                                    
                                </figcaption>
                            </figure>

                            <!-- Product Details -->
                            <div class="product-details">
                                <h2 class="product-name"><a href="javascript:void(0)">Besan Barfi</a></h2>
                                <div class="product-prices">                                    
                                    <span class="price">&#8377; 1100.00</span>
                                </div>
                            </div>
                        </div>                        
                        </div>
                        <!-- End Single Product -->

                     
                        
                        
                        
                                 
        </div>
        <div class="row mt-5">
            <!-- Start Section title -->
            <div class="col-lg-8 m-auto text-center">
                <div class="section-title-wrap style-three">
                    <h2>Follow Us</h2>
                </div>
            </div>
            <!-- End Section title -->
            <div class="col-lg-12 ">
                <div class="section-title-wrap style-three">
                    <img src="assets/img/insta.jpg">
                </div>
            </div>
        </div>  
    </div>
</section>
<!-- End Must Have Products Area -->







<!--== Start Footer Section ===-->
<footer id="footer-area" class="footer-grey">
    <!-- Start Footer Widget Area -->
    <div class="footer-widget-area pt-40 pb-28">
        <div class="container">
            <div class="footer-widget-content">
                <div class="row">
                    <!-- Start Footer Widget Item -->
                    <div class="col-md-4 col-lg-3 order-2 order-lg-1">
                        <div class="footer-widget-item-wrap">
                            <h3 class="widget-title">Contact Us</h3>
                            <div class="widget-body">
                                <div class="contact-text">                                    
                                    <p>C-11 Block C Connaught place <br> New Delhi, Delhi</p>
                                    <a href="javascript:void(0)">(+91) 9811XXXXXX</a>
                                    <a href="javascript:void(0)">info@meethi.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Footer Widget Item -->

                    <!-- Start Footer Widget Item -->
                    <div class="col-md-4 col-lg-6 order-1 text-left text-lg-center">
                        <div class="row">
                            <div class="col-lg-8 col-xl-6 m-auto">
                                <div class="footer-widget-item-wrap">
                                    <div class="widget-body">
                                        <div class="about-text">
                                            <a href="javascript:void(0)"><img src="assets/img/meethi-logo-white.png" alt="Logo"/></a>
                                            <p>Pellentesque mollis nec orci id tincidunt. Sed mollis risus eu nisi
                                                aliquet, sit amet fermentum justo dapibus.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Footer Widget Item -->

                    <!-- Start Footer Widget Item -->
                    <div class="col-md-4 col-lg-3 order-3">
                        <div class="footer-widget-item-wrap">
                            <h3 class="widget-title">Follow Us</h3>
                            <div class="widget-body">
                                
                                <div class="footer-social-icons nav mt-18">
                                    <a href="javascript:void(0)" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="javascript:void(0)" target="_blank"><i class="fa fa-twitter"></i></a>
                                    <a href="javascript:void(0)" target="_blank"><i class="fa fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Footer Widget Item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Widget Area -->

    <!-- Start Footer Bottom Area -->
    <div class="footer-bottom-wrapper">
        <div class="container">
            <div class="row">              

                <div class="col-md-6">
                    <div class="copyright-text">
                        <p>©
                            <script>document.write(new Date().getFullYear())</script>
                            , Meethi. </p>
                    </div>
                </div>

                <div class="col-md-6 text-right">
                    <img src="assets/img/payments.png" alt="Payment Method"/>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Bottom Area -->
</footer>
<!--== End Footer Section ===-->

<div class="whasapp-icon"><span><i class="fa fa-whatsapp" aria-hidden="true"></i></span></div>

<!--== Start Search box Wrapper ==-->
<div class="modalSearchBox" id="search-box-popup">
    <div class="modaloverlay"></div>
    <div class="search-box-wrapper">
        <p>Start typing and press Enter to search</p>
        <div class="search-box-form">
            <form action="#" method="POST" class="search-form-area">
                <input type="search" name="search" id="search" placeholder="Search entire store"/>
                <button type="submit" class="btn-search"><i class="dl-icon-search10"></i></button>
            </form>
        </div>
    </div>
</div>
<!--== End Search box Wrapper ==-->

<!--== Start Mini Cart Wrapper ==-->
<div class="mfp-hide modal-minicart" id="miniCart-popup">
    <div class="minicart-content-wrap">
        <h2>Shopping Cart</h2>
        <div class="minicart-product-list">
            <!-- Start Single Product -->
            <div class="single-product-item d-flex">
                <figure class="product-thumb">
                    <a href="javascript:void(0)"><img src="assets/img/products/product-7.jpg" alt="Product"></a>
                </figure>
                <div class="product-details">
                    <h2 class="product-title"><a href="javascript:void(0)">Milk Cake</a></h2>
                    <div class="prod-cal d-flex align-items-center">
                        <span class="quantity">1</span>
                        <span class="multiplication">&#215;</span>
                        <span class="price">&#8377; 1100.00 </span>
                    </div>
                </div>
                <a href="javascript:void(0)" class="remove-icon">&#215;</a>
            </div>
            <!-- End Single Product -->

            <!-- Start Single Product -->
            <div class="single-product-item d-flex">
                <figure class="product-thumb">
                    <a href="javascript:void(0)"><img src="assets/img/products/product-6.jpg" alt="Product"></a>
                </figure>
                <div class="product-details">
                    <h2 class="product-title"><a href="javascript:void(0)">Kaju Katli</a></h2>
                    <div class="prod-cal d-flex align-items-center">
                        <span class="quantity">1</span>
                        <span class="multiplication">&#215;</span>
                        <span class="price">&#8377; 1350.00</span>
                    </div>
                </div>
                <a href="javascript:void(0)" class="remove-icon">&#215;</a>
            </div>
            <!-- End Single Product -->

           

            
        </div>
        <div class="minicart-calculation-wrap d-flex justify-content-between align-items-center">
            <span class="cal-title">Subtotal:</span>
            <span class="cal-amount">&#8377; 2450.00</span>
        </div>
        <div class="minicart-btn-group mt-38">
            <a href="javascript:void(0)" class="btn btn-black ">View Cart</a>
            <a href="javascript:void(0)" class="btn btn-black mt-10">checkout</a>
        </div>
    </div>
</div>
<!--== End Mini Cart Wrapper ==-->

<!--== Start Left Offside Menu Wrapper ==-->
<div class="mfp-hide modalLeftOffside" id="left-offside-popup">
    <div class="leftoffside-content-wrap">
        <nav class="offside-menu">
            <ul class="left-offsidemenu">
                <li><a href="javascript:void(0)">About Veera Shop</a></li>
                <li><a href="javascript:void(0)">Help Center</a></li>
                <li><a href="javascript:void(0)">Portfolio</a></li>
                <li><a href="javascript:void(0)">Blog</a></li>
                <li><a href="javascript:void(0)">New Look</a></li>
            </ul>
        </nav>
        <div class="offside-text">
            <a href="javascript:void(0)"><img src="assets/img/payments.png" alt="Payment Method"></a>
            <p>Pellentesque mollis nec orci id tincidunt. Sed mollis risus eu nisi aliquet, sit amet fermentum justo
                dapibus.</p>
            <a href="javascript:void(0)">(+612) 2531 5600</a>
            <a href="javascript:void(0)">info@la-studioweb.com</a>
            <p>PO Box 1622 Colins Street West</p>

            <div class="offset-menu-footer">
                <a href="javascript:void(0)" target="_blank"><u>Google Maps</u></a>
                <div class="social-icons nav">
                    <a href="javascript:void(0)" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="javascript:void(0)" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="javascript:void(0)" target="_blank"><i class="fa fa-pinterest-p"></i></a>
                </div>
                <p class="copyright">&copy; 2018 Veera All rights reserved.</p>
            </div>
        </div>
    </div>
</div>
<!--== End Left Offside Wrapper ==-->

<!--== Start Quick View Modal Wrapper ==-->
<div class="modal" id="quickViewModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="dl-icon-close"></i></span>
            </button>
            <div class="modal-body">
                <div class="row">
                    <!-- Start Single Product Thumbnail -->
                    <div class="col-lg-5 col-md-6">
                        <div class="single-product-thumb-wrap p-0 pb-sm-30 pb-md-30">
                            <!-- Product Thumbnail Large View -->
                            <div class="quciview-product-thumb-carousel">
                                <figure class="product-thumb-item">
                                    <img src="assets/img/products/product-8.jpg" alt="Single Product"/>
                                </figure>
                                
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product Thumbnail -->

                    <!-- Start Single Product Content -->
                    <div class="col-lg-7 col-md-6 m-auto">
                        <div class="single-product-content-wrapper">
                            <div class="single-product-details">
                                <h2 class="product-name">Honey Dryfruit Ladoo</h2>
                                <div class="prices-stock-status d-flex align-items-center justify-content-between">
                                    <div class="prices-group">                                        
                                        <span class="price">&#8377; 1900.00</span>
                                    </div>
                                    <span class="stock-status"><i class="dl-icon-check-circle1"></i> Available</span>
                                </div>
                                <p class="product-desc">Incredibly delicious, htese ladoos are an ode to the goodness of best quality desi ghee, honey and dry fruits. Tantalising the taste buds with intoxicating flavours, these guilt-free traets are perfect for all occasions.</p>

                                <div class="quantity-btn-group d-flex">
                                    <div class="pro-qty">
                                        <input type="text" id="quantity" value="1"/>
                                    </div>
                                    <div class="list-btn-group">
                                        <a href="javascript:void(0)" class="btn btn-black">Add to Cart</a>
                                        <a href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
                                         
                                    </div>
                                </div>

                                
                            </div>

                            
                        </div>
                    </div>
                    <!-- End Single Product Content -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Quick View Modal Wrapper ==-->

<!--=======================Javascript============================-->
<!--=== Jquery Min Js ===-->
<script src="assets/js/vendor/jquery-3.3.1.min.js"></script>
<!--=== Jquery Migrate Min Js ===-->
<script src="assets/js/vendor/jquery-migrate-1.4.1.min.js"></script>
<!--=== Popper Min Js ===-->
<script src="assets/js/vendor/popper.min.js"></script>
<!--=== Bootstrap Min Js ===-->
<script src="assets/js/vendor/bootstrap.min.js"></script>
<!--=== Plugins Js ===-->
<script src="assets/js/plugins.js"></script>
<!--=== Ajax Mail Js ===-->
<script src="assets/js/ajax-mail.js"></script>

<!--=== Active Js ===-->
<script src="assets/js/active.min.js"></script>

<!--=== Revolution Slider Js ===-->
<script src="assets/js/revslider/jquery.themepunch.tools.min.js"></script>
<script src="assets/js/revslider/jquery.themepunch.revolution.min.js"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script src="assets/js/revslider/extensions/revolution.extension.actions.min.js"></script>
<script src="assets/js/revslider/extensions/revolution.extension.carousel.min.js"></script>
<script src="assets/js/revslider/extensions/revolution.extension.kenburn.min.js"></script>
<script src="assets/js/revslider/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="assets/js/revslider/extensions/revolution.extension.migration.min.js"></script>
<script src="assets/js/revslider/extensions/revolution.extension.navigation.min.js"></script>
<script src="assets/js/revslider/extensions/revolution.extension.parallax.min.js"></script>
<script src="assets/js/revslider/extensions/revolution.extension.slideanims.min.js"></script>
<script src="assets/js/revslider/extensions/revolution.extension.video.min.js"></script>


<script src="assets/js/revslider/revslider-active.js"></script>




</body>


</html>