<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
<title>Cygnett Hotels</title>

<style>
body{margin:0px; padding:0px;}
p{font-size:16px; line-height:150%;}
table, td, th {border: 0px solid #d0d0d0;}
table {border-collapse: collapse;}

@media only screen and (max-width: 479px) {
/* mobile-specific CSS styles go here */
table {width: 100% !important;}
img.img-logo{width:100%!important; height:auto!important;}
img.img-separator{width:100%!important; height:auto!important;}
img.top-arrow-img{width:100%!important; height:auto!important;}
}

</style>

</head>
<body style="background-color:#e4e4e4; font-family:arial; color:#000;">

<table width="600" border="0" cellspacing="0" cellpadding="0" style="background-color:#fff;" align="center">
 <tr>
    <td style="background-color: #d25b5b; height:8px;"></td>
  </tr>
 <tr>
    <td style="text-align: center; padding:10px 0px; border-bottom:1px solid #d0d0d0;"><img src="images/cygnett-logo.png" style="width:120px; height:95px;"></td>
  </tr>
  <tr>
    <td style="padding:5%;">
	<p>Hi,</p>
	<p>The following query has been received from an interested partner.</p>

 

	</td>
  </tr>
  
  <!-- <tr>
      <td style="background: #d25b5b; padding-top:14px; text-align:center;">
      <a href="https://www.facebook.com/cygnetthotels/" target="_blank"><img src="http://cygnetthotels.com/mailer/images/f_icon.png" style="width:32px; background-repeat:no-repeat;"/></a>&nbsp;
    <a href="https://twitter.com/cygnetthotels" target="_blank"><img src="http://cygnetthotels.com/mailer/images/t_icon.png" style="width:32px; background-repeat:no-repeat;"/></a>&nbsp;&nbsp;
    <a href="https://www.instagram.com/hotelscygnett/" target="_blank"><img src="http://cygnetthotels.com/mailer/images/i_icon.png" style="width:32px; background-repeat:no-repeat;"/></a>&nbsp;&nbsp;  
      <a href="https://www.linkedin.com/company/cygnett-hotels-&-resorts/?originalSubdomain=in" target="_blank"><img src="http://cygnetthotels.com/mailer/images/l_icon.png" style="width:32px; background-repeat:no-repeat;"/></a>&nbsp;&nbsp; 
      <a href="https://www.youtube.com/user/CygnettHotels" target="_blank"><img src="http://cygnetthotels.com/mailer/images/y_icon.png" style="width:32px; background-repeat:no-repeat;"/></a> 
      </td>
    </tr> -->

    <tr>
      <td style="text-align:center; font-size: 14px; font-weight: 400; line-height: 150%; color:#fff; padding-bottom:14px; background: #d25b5b; padding:2% 0% 3% 0%;"><span style="font-size:18px;">Meethi</span><br>
    J-2/13, Rajouri Garden, New Delhi, India<br>
    Email: <a href="mailto:centralreservations@cygnetthotels.com" style="color:#fff; text-decoration:none;">centralreservations@cygnetthotels.com</a> <br>
<!--Phone: <a href="tel:01244262555"  style="color:#fff; text-decoration:none;">+91 124 4262555</a> |--> 
Mobile: <a href="tel:08595450450" style="color:#fff; text-decoration:none;">+91 8595 450450</a> | +91 8959 192192<br>
Toll Free No. : <a href="tel:18002122350" style="color:#fff; text-decoration:none;">18002122350</a> <br>
<a href="https://www.cygnetthotels.com/" style="color:#fff; text-decoration:none;">www.cygnetthotels.com</a>   
    </td>
    </tr>
</table>
</body>
</html>
