

.sticky-header{border-bottom: 1px solid #9d9d9d;}

#footer-area.footer-grey {

    background-color: #000;

    color: #fff;

}



.footer-widget-item-wrap .widget-title {color:#fff;}

.footer-social-icons a {color: #fff!important; font-size: 2.5rem;}

.section-title-wrap{margin-bottom: 40px;}

#mustHave-products-area{padding:50px 0px;}

.single-product-wrap .product-details{margin-top: 10px;}

.single-product-wrap{margin-bottom: 20px;}

.single-special-banner{margin-top: 0px;}

.single-product-wrap .product-badge{background-color: #d25b5b;}

.header-content-wrapper{padding: 20px 0;}



.btn.btn-black {background-color: #d25b5b; color: #fff;}

.btn.btn-black:hover {background-color: #aa4343;}



.pro-qty input{border: 1px solid #9d9d9d;}

.pro-qty a.inc {border-bottom: 1px solid #9d9d9d; border-left:1px solid #9d9d9d;}

.pro-qty a.dec {border-bottom: 1px solid #9d9d9d; border-left:1px solid #9d9d9d;}



.single-product-details .product-desc{color: #333;}



.modal-backdrop.show{opacity: .9;}
.single-product-details .stock-status{color: #008c0b; font-size: 1.5rem;}
.whasapp-icon{ position: fixed; left: 20px; bottom: 20px; background: #25d366; font-size: 35px; display: inline-block; border-radius: 50%;
    width: 50px;  height: 50px;  text-align: center;}
.whasapp-icon span i{color:#fff;}

/* Login Page */
.login-bg{background-color:#d25b5b;}
.login-container{background-color:#ffffff;}
.login-form-container{padding:3% 6% 0% 2%;}
.single-form-input input{padding: 10px 20px; }
.single-form-input{margin-bottom: 15px;}
.single-form-input label{margin-bottom: 5px;}

.single-product-wrap .product-details .box-info{color: #000;  font-size: 1.4rem;  line-height: 1.6;}
.spl-box{background: #ffe8ec; padding:1.5%; border:1px solid #d99d9d;}
.product-prices span.price{font-size: 1.9rem;  font-weight: 600;}

.my-account-container{padding:5%;
-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.14);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.14);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.14);
}